html, body {
    height: 100%;
    background-color: #000;
    background-image: url("images/bg.png");
    margin:0;
    padding:0;

}

.loading-container {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.page-container {
    background-color: rgba(0,0,0,0.0);
    width: 100%;
    padding-top: 120px;
    height: 100%;
}

.bg-container {
    width: 100%;
    padding-top: 120px;
    height: 100%;
    opacity: 0.15;
    float: left;
    position: fixed;
    background-size: cover;
}

.loading-data {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -165px;
    left: 45px;
    background-color: transparent;
}


.loading-data img {
    background-color: transparent;
    margin: 0px;
    border: 0;
    padding: 0;
}

.movie {
    width: 165px;
    height: 250px;
    /* border: 2px solid #000; */

}

.first-header {
    background-color: #14191D; /*rgba(0,0,0,1)*/
    color: #fff;
}

.second-header {
    top: 58px;
    background-color: #3C4952; /* rgba(0,0,0,1);*/
    color: #fff;
}


.menu-left {
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    float: left;
    position: fixed;
    color: #fff;
}

.movie-img img {

    background: #ccc;
    border: 2px solid #ccc;
    position:relative;
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
}
.standard-hover {
    border: 2px solid #ba6144;
    opacity: 0.3;
}

.loading-hover {
    border: 2px solid #ba6b5e;
    opacity: 0.3;

}

.hide {
    display: none;
}

.movie-img {
    background-color: grey;
}

#moviesList {
    margin-left: 25%;
    float: left;
    z-index: -1;
}

.movie-title {
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
}

.movie-database {
    position: relative;
    color: #fff;
}


.movie-database button {
    color: #fff;
    opacity: 0;
}

.movie-database button.update {
    position: absolute;
    top:-60px;
    color: #fff;
    left: 115px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;

}

.movie-database button.edit {
    position: absolute;
    top:-60px;
    right: 110px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;

}

.movie-database button.delete {
    position: absolute;
    top:-245px;
    left: 115px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;

}

#movie-full {

    width: 100%;
    height: 100%;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.90);
    float: left;
    position: fixed;
    z-index: 100000 !important;

}

