@import url('https://fonts.googleapis.com/css?family=Lobster|Play');

html, body {
    height: 100%;
    background-color: #000;
    background-image: url("images/bg.png");
    margin:0;
    padding:0;
        font-family: 'Play', sans-serif;      
                                              
}

.loading-container {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 25%;
    margin-top: 20%;
    border: transparent;
    border 0;
}

.page-container {
    background-color: rgba(0,0,0,0.0);
    width: 100%;
    padding-top: 120px;
    height: 100%;
}

.navbar-brand {
    font-family: 'Play', sans-serif;
    
}

.bg-container {
    width: 100%;
    padding-top: 120px;
    height: 100%;
    opacity: 0.15;
    float: left;
    position: fixed;
    background-size: cover;
}

.loading-data {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -165px;
    left: 45px;
    background-color: transparent;
}


.loading-data img {
    background-color: transparent;
    margin: 0px;
    border: 0;
    padding: 0;
}

.movie {
    width: 150px;
    height: 250px;
    /* border: 2px solid #000; */

}

.first-header {
    background-color: #14191D; /*rgba(0,0,0,1)*/
    color: #fff;
}

.second-header {
    top: 58px;
    background-color: #3C4952; /* rgba(0,0,0,1);*/
    color: #fff;
}


.menu-left {
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    float: left;
    position: fixed;
    color: #fff;
}

.movie-img img {

    background: #ccc;
    border: 2px solid #ccc;
    position:relative;
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
}
.standard-hover {
    border: 2px solid #ba6144;
    opacity: 0.3;
    cursor: pointer;
}

.loading-hover {
    border: 2px solid #ba6b5e;
    opacity: 0.3;

}

.hide {
    display: none;
}

.movie-img {
    background-color: grey;
}

#moviesList {
    margin-left: 25%;
    float: left;
    z-index: -1;
}

.movie-title {
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
}

.movie-database {
    position: relative;
    color: #fff;
}

.arrow-right {
    float: right;
}
.nav-link {
        padding-right: 0.30rem;
  
}

.add-text {
    vertical-align: center;
    position: relative;
    padding-left: 20px;
}

.add-text i {
    left: -8px;
    position: absolute;
}


.movie-database button {
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.movie-database button.update {
    position: absolute;
    top:-55px;
    color: #fff;
    left: 103px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;

}


.movie-database button.favorite {
    position: absolute;
    top: -220px;
    color: #ffea32;
    left: 0px;

    border: transparent;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;

}

.favorite-true {
     opacity: 1;
    text-shadow: 2px 2px 4px #000000;
}
.movie-database button.edit {
    position: absolute;
    top:-55px;
    right: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;
    cursor: grab;

}

.movie-database button.delete {
    position: absolute;
    top:-223px;
    left: 100px;
    border: transparent;
    background-color: transparent;
    font-size: 10px;
    cursor: grab;

}


  /*

  Movie Overlay CSS

  */
.movie-full-container {
    margin: 30px;
    height: 100vh ;
}

#movie-full {

    width: 100%;
    height: calc(100% + 100px);
   
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    text-shadow: 1px 1px 25px rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.90);
    float: left;
    position: fixed;
    z-index: 100000 !important;

}

.movie-big-overview {


}

#movie-big-img img {

      background: #ccc;
      border: 2px solid #ccc;                                        
      position:relative;                                             
      box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);                  
      -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);             
      -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);          
    
}

#movie-big-img {
    background: #ccc;
    border: 2px solid #fff;
}


#movie-big-tagline {
    vertical-align: center;
    padding-top: 20px;
}
#movie-big-title {
    font-size: 30px;
}

#movie-overview p {
    text-align: left;
}


.back-full {
    cursor: pointer;
}

.movie-search {

}

.movie-search button.add{
    width: 35px;
    height: 35px;
    padding-left: 5px;
}

button.add i {
    padding-top: 3px;
    margin: 0;
}


.loader-bg {

    background: url("images/loader.svg");
    background-size : cover;


}
.movie-search-overview {
    font-size: 10px;
    color: grey;
    margin-bottom: 3px;
    padding-bottom: 0px;
}

.movie-search-year {
  padding-top: 3px;
    margin-top: 0px;
}

.movie-search-img img {
    background: #ccc;
    border: 2px solid #ccc;
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.80);
}

.movie-search-title {
    color: #000;
}

